<launch>
    <node name="airsim_navigator" pkg="airsim_moveit_navigation" type="airsim_navigator" output="screen">
        <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
        <param name="planning_attempts" value="10" />
        <param name="planning_time" value="5.0" />
        <param name="x_min" value="-30" />
        <param name="x_max" value="30" />
        <param name="y_min" value="-30" />
        <param name="y_max" value="30" />
        <param name="z_min" value="0.2" />
        <param name="z_max" value="25.2" />
        <param name="planning_algorithm" value="RRTstar" />
        <param name="rotate_to_center" value="true" />
    </node>
</launch>
